<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleName</key>
    <string>${bundleName}</string>
    <key>CFBundleVersion</key>
    <string>${version}</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>${cfBundleExecutable}</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>${iconFile}</string>

    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
          <array>
            <string>circuit</string>
          </array>
        <key>CFBundleTypeIconFile</key>
        <string>${iconFile}</string>
        <key>CFBundleTypeName</key>
        <string>Circuit Simulator File</string>
        <key>CFBundleTypeOSTypes</key>
           <array>
             <string>c1RT</string>
           </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>
    </array>



    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>${mainClass}</string>
      <key>JVMVersion</key>
      <string>${jvmVersion}</string>
      <key>ClassPath</key>
      ${classpath}
      #if($vmOptions)
      <key>VMOptions</key>
      <string>${vmOptions}</string>
      #end
    </dict>
  </dict>
</plist>